.container {
  padding: 0px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.container > header {
  padding: 20px 0px;
}

.container > header > a {
  color: #e50914;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}
